<div class="alert-banner offline-connection">
  Wifi off-line! Verifique sua conexão com a internet.
</div>
<app-busy-loader></app-busy-loader>
<div class="main">
  <mat-toolbar color="accent" class="p-0">
    <div class="container-fluid">
      <div class="row">
        <div class="col col-auto">
          <button type="button" mat-icon-button (click)="drawer.toggle()">
            <mat-icon aria-hidden="false">menu</mat-icon>
          </button>
        </div>
        <span
          class="col col-spacer d-sm-flex px-0"
          [ngClass]="{ 'd-none': title }"
        ></span>
        <div class="col col-auto pt-1 print-none" *ngIf="!title">
          <div class="main-logo">
            <img
              [src]="'assets/img/brand/logo-white.png'"
              alt="Ponto System Web"
            />
          </div>
        </div>
        <div class="col col-auto pt-1" *ngIf="title">
          <div class="main-title">
            {{ title }}
          </div>
        </div>
        <span class="col col-spacer d-sm-flex px-0"></span>
        <div class="col col-auto pt-1">
          <button
            type="button"
            mat-mini-fab
            [matMenuTriggerFor]="menu"
            class="mat-mdc-elevation-specific mat-elevation-z0"
            [matTooltip]="
              authentication?.licenseId
                ? 'Licença: ' + authentication.licenseId
                : 'Autentique-se para testar a API'
            "
          >
            <mat-icon
              matListItemIcon
              color="warn"
              *ngIf="!authentication?.token"
              >lock_open</mat-icon
            >
            <mat-icon matListItemIcon *ngIf="authentication?.token"
              >lock</mat-icon
            >
          </button>
          <mat-menu #menu="matMenu">
            <button
              type="button"
              mat-menu-item
              (click)="onAuthenticate()"
              *ngIf="!authentication?.token"
            >
              <mat-icon>lock</mat-icon>
              <span>Autenticar (Gerar Token)</span>
            </button>
            <button
              type="button"
              mat-menu-item
              (click)="onAuthenticate()"
              *ngIf="authentication?.token"
            >
              <mat-icon>lock</mat-icon>
              <span>Renovar Token</span>
            </button>
            <button
              type="button"
              mat-menu-item
              (click)="onDeauthenticate()"
              *ngIf="authentication?.token"
            >
              <mat-icon>lock_open</mat-icon>
              <span>Sair</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </mat-toolbar>
  <mat-drawer-container class="app-mat-drawer">
    <mat-drawer
      #drawer
      [mode]="drawerMode"
      [opened]="drawerOpened"
      (openedChange)="onOpenedChanged()"
    >
      <div class="sidemenu">
        <mat-nav-list>
          <mat-list-item
            *ngFor="let item of mainMenu"
            [routerLink]="[item.route] | route"
            routerLinkActive="mdc-list-item--activated"
            (click)="onClickMenu(drawer, item)"
          >
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <span class="align-bottom" matListItemTitle>{{ item.name }}</span>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </mat-drawer>
    <mat-drawer-content #matDrawerRef>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
