<div class="container-fluid px-3 py-4">
  <div class="row">
    <div class="col">
      <h3>API de consulta externa do sistema Ponto System Web</h3>
      <p>
        Esta aplicação foi desenvolvida como apoio à integração com a
        <strong>API de Consulta Externa</strong> do sistema
        <strong>Ponto System Web</strong>.
      </p>

      <p>Seu objetivo é facilitar o trabalho dos integradores, oferecendo:</p>

      <ul>
        <li>
          🔍 <strong>Visualização dos Endpoints</strong> disponíveis na API;
        </li>
        <li>
          ⚙️ <strong>Exploração de Parâmetros</strong>, com possibilidade de
          modificação em tempo real;
        </li>
        <li>
          📄 <strong>Visualização das Respostas</strong> retornadas pela API;
        </li>
        <li>
          💡 <strong>Exemplos práticos</strong> de como realizar requisições
          para cada endpoint.
        </li>
      </ul>
      <p>
        <strong>ATENÇÃO</strong> Para chamar os endpoints da API nesta
        aplicação, é preciso antes fazer a autenticação usando a chave fornecida
        pelo suporte técnico. <br />Para autenticar basta clicar no botão que se
        encontra no topo a direita.
      </p>
      <p>
        O código desta aplicação está disponível no
        <a href="https://github.com/fraterblack/psw-api-docs">repositório</a>.
      </p>
      <p>
        A documentação detalhada da API está disponível
        <a href="https://documenter.getpostman.com/view/44879535/2sB2jAbTrK">
          neste link</a
        >.
      </p>
    </div>
  </div>
</div>
